{
	"plugins": [
		["module-resolver", {
			"root": ["./src"]
		}],
		"transform-object-rest-spread",
		"transform-flow-strip-types"
	],
	"presets": [
		"flow",
		["env", {
			"targets": { "node": "current" }
		}]
	]
}
